{% load staticfiles %}
{% load static %}


<!DOCTYPE HTML>
<html>
<head>
<title>Free Leoshop Website Template | Contact :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<script src="{% static 'js/jquery1.min.js' %}"></script>
<!-- start menu -->
<link href="{% static 'css/megamenu.css' %}" rel="stylesheet" />
<script src="{% static 'js/megamenu.js' %}"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="{% static 'js/jquery.easydropdown.js' %}"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div class="header-top">
	<div class="wrap">
		<div class="cssmenu">
			<ul>
				<li class="active"><a href="/{{ home.url }}">О компании</a></li>
				|
				<li><a href="/usluga/{{ usluga.url }}">Услуги</a></li>
				|
				<li><a href="/dostiop/{{ dostiop.url }}">Доставка и оплата</a></li>
				|
				<li><a href="/garantija/{{ garantija.url }}">Гарантия</a></li>
				|
				<li><a href="/contact/{{ contact.url }}">Контакты</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
	   {% block menu %}
	   {% endblock %}

		{% block form %}
		{% endblock %}

	<div class="footer">
		<div class="footer-top">
			<div class="wrap">
				<div class="section group example">
					<div class="col_1_of_2 span_1_of_2">
						<ul class="f-list">
							<li><img src="../static/images/2.png"><span class="f-text">бесплатная доставка при заказе от $ 100</span>
								<div class="clear"></div>
							</li>
						</ul>
					</div>
					<div class="col_1_of_2 span_1_of_2">
						<ul class="f-list">
							<li><img src="../static/images/3.png"><span
									class="f-text">Телефон для связи -222-555-6666 </span>
								<div class="clear"></div>
							</li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	{% block contacts2 %}
	{%endblock%}
</body>
</html>