{% extends 'index.html' %}

{% block menu %}
<div class="header-bottom">
    <div class="wrap">
        <div class="header-bottom-left">
            <div class="logo">
                <a href="index.html"><img src="../static/images/logo.png" alt=""/></a>
            </div>
            {% for katalog in katalog %}
            <div class="menu">
                <ul class="megamenu skyblue">
                    <li class="active grid"><a href="/katalog/{{ katalog.slug }}">{{katalog.title_katalog}}</a></li>
                </ul>
            </div>
            {% endfor %}
        </div>

        <div class="header-bottom-right">
            <div class="search">
                <input type="text" name="s" class="textbox" value="Поиск" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                <input type="submit" value="Subscribe" id="submit" name="submit">
                <div id="response"> </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}

{% block glavbody %}
{% for dostiop in dostiop %}
<div class="cont span_2_of_about">
    <h3>{{dostiop.title_dostiop}}</h3>
    <p>{{dostiop.body_dostiop|safe}}</p>

    <h5 class="m_6">Meet Our Team</h5>
    <div class="section group">
        <div class="col_1_of_about-box span_1_of_about-box">
            <a class="popup-with-zoom-anim" href="#small-dialog3">  <span class="rollover"></span><img src="../static/images/a-img.jpg" title="continue" alt=""/></a>
            <h4 class="m_7"><a href="#">consectetuer adipiscing</a></h4>
            <p>Lorem ipsum dolor consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
        <div class="col_1_of_about-box span_1_of_about-box">
            <a class="popup-with-zoom-anim" href="#small-dialog3">  <span class="rollover"></span><img src="../static/images/a-img1.jpg" title="continue" alt=""/></a>
            <h4 class="m_7"><a href="#">consectetuer adipiscing</a></h4>
            <p>Lorem ipsum dolor consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
        <div class="col_1_of_about-box span_1_of_about-box">
            <a class="popup-with-zoom-anim" href="#small-dialog3">  <span class="rollover"></span><img src="../static/images/a-img2.jpg" title="continue" alt=""/></a>
            <h4 class="m_7"><a href="#">consectetuer adipiscing</a></h4>
            <p>Lorem ipsum dolor consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
        <div class="clear"></div>
    </div>
    <!-- Add fancyBox main JS and CSS files
 <script>
     $(document).ready(function() {
         $('.popup-with-zoom-anim').magnificPopup({
             type: 'inline',
             fixedContentPos: false,
             fixedBgPos: true,
             overflowY: 'auto',
             closeBtnInside: true,
             preloader: false,
             midClick: true,
             removalDelay: 300,
             mainClass: 'my-mfp-zoom-in'
     });
 });
 </script>-->
</div>


{% endfor %}
{%endblock%}