{% extends 'index.html' %}

{% block glavbody %}
{% for garantija in garantija %}
<div class="cont span_2_of_about">
    <h3>{{garantija.title_garantija}}</h3>
    <p>{{garantija.body_garantija|safe}}</p>

    <h5 class="m_6">Услуги</h5>
    {% for usluga in usluga %}
    {% for uslphoto in usluga.image_usluga.all %}
    <div class="section group">
        <div class="col_1_of_about-box span_1_of_about-box">
            <a class="popup-with-zoom-anim" href="/usluga/{{ usluga.id }}">
                <span class="rollover"></span>
                <img src="{{uslphoto.photo_gallery.url}}" title="continue" alt=""/>
            </a>
            <h4 class="m_7"><a href="/usluga/{{ usluga.id }}">{{usluga.title_usluga}}</a></h4>
            <a href="/usluga/{{ usluga.id }}"><p>{{usluga.body_usluga|truncatewords:5|safe}}</p></a>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
    <!-- Add fancyBox main JS and CSS files
 <script>
     $(document).ready(function() {
         $('.popup-with-zoom-anim').magnificPopup({
             type: 'inline',
             fixedContentPos: false,
             fixedBgPos: true,
             overflowY: 'auto',
             closeBtnInside: true,
             preloader: false,
             midClick: true,
             removalDelay: 300,
             mainClass: 'my-mfp-zoom-in'
     });
 });
 </script>-->
</div>


{% endfor %}
{%endblock%}