{% extends 'podkatalog.html' %}

{% block menu %}
<div class="header-bottom">
    <div class="wrap">
        <div class="header-bottom-left">
            <div class="logo">
                <a href="index.html"><img src="/static/images/logo.png" alt=""/></a>
            </div>
            {% for katalog in katalog %}
            <div class="menu">
                <ul class="megamenu skyblue">
                    <li class="active grid"><a href="/katalog/{{ katalog.slug }}">{{katalog.title_katalog}}</a></li>
                </ul>
            </div>
            {% endfor %}
        </div>

        <div class="header-bottom-right">
            <div class="search">
                <input type="text" name="s" class="textbox" value="Поиск" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                <input type="submit" value="Subscribe" id="submit" name="submit">
                <div id="response"> </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}

{% block glavbody %}
<div class="mens">
  <div class="main">
     <div class="wrap">
		 <div class="cont span_2_of_3">
			 <h2 class="head">{{podkatalog.title_podkatalog}}</h2>
			 <div class="top-box">
				 {% for podkatalog_vid in podkatalog.tovar_podkatalog.all %}
				 <div class="col_1_of_3 span_1_of_3">
					 <a href="/katalog/detail/detail/{{ podkatalog_vid.slugt }}">
						 <div class="inner_content clearfix">
							 <div class="product_image">
								 <img src="{{ podkatalog_vid.image_start.url }}" alt=""/>
							 </div>
							 <div class="price">
								 <div class="cart-left">
									 <p class="title">{{ podkatalog_vid.title_tovar }}</p>
									 <div class="price1">
										 <span class="actual">{{ podkatalog_vid.cena }}</span>
									 </div>
								 </div>
								 <div class="cart-right"></div>
								 <div class="clear"></div>
							 </div>
						 </div>
					 </a>
				 </div>
				 {%endfor%}
				 <div class="clear"></div>
			 </div>
		 </div>

			<div class="rsidebar span_1_of_left">
				<h5 class="m_1">Categories</h5>
					<ul class="kids">
						<li><a href="#">Kids</a></li>
						<li class="last"><a href="#">Glasses Shop</a></li>
					</ul>
		    </div>
			  <div class="clear"></div>
			</div>
		   </div>
		</div>

{%endblock%}