{% extends 'podkatalog.html' %}

{% block menu %}
<div class="header-bottom">
    <div class="wrap">
        <div class="header-bottom-left">
            <div class="logo">
                <a href="/{{ home.url }}"><img src="/static/images/logo.png" alt=""/></a>
            </div>
            {% for katalog in katalog %}
            <div class="menu">
                <ul class="megamenu skyblue">
                    <li class="active grid"><a href="/katalog/{{ katalog.slug }}">{{katalog.title_katalog}}</a></li>
                </ul>
            </div>
            {% endfor %}
        </div>

        <div class="header-bottom-right">
            <div class="search">
                <input type="text" name="s" class="textbox" value="Поиск" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                <div id="response"> </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}

{% block glavbody %}
<div class="mens">
  <div class="main">
     <div class="wrap">
		 <div class="cont span_2_of_3">
			 <h2 class="head">{{podkatalog.title_podkatalog}}</h2>
			 <div class="top-box">
				 {% for podkatalog_vid in podkatalog.tovar_podkatalog.all %}
				 <div class="col_1_of_3 span_1_of_3">
					 <a href="/katalog/detail/detail/{{ podkatalog_vid.id }}">
						 <div class="inner_content clearfix">
							 <div class="product_image">
								 <img src="{{ podkatalog_vid.image_start.url }}" alt=""/>
							 </div>
							 <div class="price">
								 <div class="cart-left">
									 <p class="title">{{ podkatalog_vid.title_tovar }}</p>
									 <div class="price1">
										 <span class="actual">{{ podkatalog_vid.cena2 }} .</span>
									 </div>
								 </div>
								 <div class="cart-right"></div>
								 <div class="clear"></div>
							 </div>
						 </div>
					 </a>
				 </div>
				 {%endfor%}
				 <div class="clear"></div>
			 </div>
		 </div>

			<div class="rsingle span_1_of_single">
				<h5 class="m_1">Услуги</h5>
				<ul class="kids">
					{% for usluga in usluga %}
					<li><a href="/usluga/{{ usluga.id }}">{{usluga.title_usluga}}</a></li>
					{% endfor %}
				</ul>
				<script src="js/jquery.easydropdown.js"></script>
			</div>
			  <div class="clear"></div>
			</div>
		   </div>
		</div>

    <!--<div class="pagination">-->
        <!--<span class="step-links">-->
            <!--{% if sobitie.has_previous %}-->
                <!--<a href="?page={{ catalog.previous_page_number }}">назад</a>-->
            <!--{% endif %}-->
        <!--<span class="current">-->
            <!--страница {{ sobitie.number }} из {{ sobitie.paginator.num_pages }}.-->
        <!--</span>-->
            <!--{% if sobitie.has_next %}-->
                <!--<a href="?page={{ sobitie.next_page_number }}">вперёд</a>-->
            <!--{% endif %}-->
        <!--</span>-->
    <!--</div>-->

{%endblock%}

{% block contacts %}
<div class="footer-middle">
    <div class="wrap">
        <div class="section group example">
            <div class="col_1_of_f_1 span_1_of_f_1">
                <div class="section group example">
                    <div class="col_1_of_f_2 span_1_of_f_2">
                        <h3>Информация</h3><!--
                        <ul class="f-list1">
                            <li><a href="#">Duis autem vel eum iriure </a></li>
                            <li><a href="#">anteposuerit litterarum formas </a></li>
                            <li><a href="#">Tduis dolore te feugait nulla</a></li>
                            <li><a href="#">Duis autem vel eum iriure </a></li>
                            <li><a href="#">anteposuerit litterarum formas </a></li>
                            <li><a href="#">Tduis dolore te feugait nulla</a></li>
                        </ul>-->
                    </div>
                    <div class="col_1_of_f_2 span_1_of_f_2">
                        <h3>Наши контакты</h3>
                        <div class="company_address"><!--
                            <p>500 Lorem Ipsum Dolor Sit,</p>
                            <p>22-56-2-9 Sit Amet, Lorem,</p>
                            <p>USA</p>
                            <p>Phone:(00) 222 666 444</p>
                            <p>Fax: (000) 000 00 00 0</p>
                            <p>Email: <span>mail[at]leoshop.com</span></p>-->
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p> 2019 developer by <a href="https://www.facebook.com/igork333" target="_blank">I.Karabash</a></p>
            </div>
            <div class="f-list2">
                <ul>
                    {% for katalog in katalog %}
                    |
                    <li><a href="/katalog/{{ katalog.slug }}">{{katalog.title_katalog}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
{%endblock%}