{% extends 'tovar.html' %}

{% block menu %}
<div class="header-bottom">
    <div class="wrap">
        <div class="header-bottom-left">
            <div class="logo">
                <a href="/{{ home.url }}"><img src="/static/images/logo.png" alt=""/></a>
            </div>
            {% for katalog in katalog %}
            <div class="menu">
                <ul class="megamenu skyblue">
                    <li class="active grid"><a href="/katalog/{{ katalog.slug }}">{{katalog.title_katalog}}</a></li>
                </ul>
            </div>
            {% endfor %}
        </div>

        <div class="header-bottom-right">
            <div class="search">
                <input type="text" name="s" class="textbox" value="Поиск" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                <div id="response"> </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}

{% block glavblog %}
<div class="mens">
	<div class="main">
		<div class="wrap">
			<ul class="breadcrumb breadcrumb__t"><a class="home" href="#">Home</a> / <a href="#">Услуги</a> / Lorem ipsum dolor sit amet</ul>
			<div class="cont span_2_of_3">
				<div class="grid images_3_of_2">
					<ul id="etalage">
						{% for photo in usluga_detail.image_usluga.filter %}
						<li>
							<a href="optionallink.html">

								<img class="etalage_thumb_image" src="{{ photo.photo_gallery.url }}" class="img-responsive" />
								<img class="etalage_source_image" src="{{ photo.photo_gallery.url }}" class="img-responsive" title="" />
							</a>
						</li>
						{%endfor%}
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="desc1 span_3_of_2">
					<h3 class="m_3">{{ usluga_detail.title_usluga }}</h3>
					<p class="m_text2">{{ usluga_detail.body_usluga|safe }} </p><br>
				</div>
				<div class="clear"></div>
				<div class="toogle">
					<h3 class="m_3">{{ usluga_detail.title2_usluga|safe }}</h3>
					<p class="m_text">{{ usluga_detail.body2_usluga|safe }}</p>
					<div class="btn_form">
						<form>
							<input type="submit" value="Заказать" title="">
						</form>
					</div>

				</div>
			</div>
			<div class="rsingle span_1_of_single">
				<h5 class="m_1">Услуги</h5>
				<ul class="kids">
					{% for usluga in usluga %}
					<li><a href="#">{{usluga.title_usluga}}</a></li>
					{% endfor %}
				</ul>
				<script src="js/jquery.easydropdown.js"></script>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>

{% endblock %}