{% extends 'tovar.html' %}

{% block menu %}
<div class="header-bottom">
    <div class="wrap">
        <div class="header-bottom-left">
            <div class="logo">
                <a href="index.html"><img src="../static/images/logo.png" alt=""/></a>
            </div>
            {% for katalog in katalog %}
            <div class="menu">
                <ul class="megamenu skyblue">
                    <li class="active grid"><a href="/katalog/{{ katalog.slug }}">{{katalog.title_katalog}}</a></li>
                </ul>
            </div>
            {% endfor %}
        </div>

        <div class="header-bottom-right">
            <div class="search">
                <input type="text" name="s" class="textbox" value="Поиск" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                <input type="submit" value="Subscribe" id="submit" name="submit">
                <div id="response"> </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}

{% block glavblog %}
<div class="mens">
	<div class="main">
		<div class="wrap">
			<ul class="breadcrumb breadcrumb__t"><a class="home" href="#">Home</a> / <a href="#">Dolor sit amet</a> / Lorem ipsum dolor sit amet</ul>
			<div class="cont span_2_of_3">
				<div class="grid images_3_of_2">
					<ul id="etalage">
						{% for photo in usluga_detail.image_usluga.filter %}
						<li>
							<a href="optionallink.html">

								<img class="etalage_thumb_image" src="{{ photo.photo_gallery.url }}" class="img-responsive" />
								<img class="etalage_source_image" src="{{ photo.photo_gallery.url }}" class="img-responsive" title="" />
							</a>
						</li>
						{%endfor%}
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="desc1 span_3_of_2">
					<h3 class="m_3">{{ usluga_detail.title_usluga }}</h3>
					<p class="m_text2">{{ usluga_detail.body_usluga|safe }} </p><br>
				</div>
				<div class="clear"></div>
				<div class="toogle">
					<h3 class="m_3">{{ usluga_detail.title2_usluga|safe }}</h3>
					<p class="m_text">{{ usluga_detail.body2_usluga|safe }}</p>
					<div class="btn_form">
						<form>
							<input type="submit" value="Заказать" title="">
						</form>
					</div>

				</div>
			</div>
			<div class="rsingle span_1_of_single">
				<h5 class="m_1">Categories</h5>
				<ul class="kids">
					<li><a href="#">Kids</a></li>
					<li class="last"><a href="#">Glasses Shop</a></li>
				</ul>
				<section  class="sky-form">
					<h4>Price</h4>
					<div class="row row1 scroll-pane">
						<div class="col col-4">
							<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Rs 500 - Rs 700</label>
						</div>
						<div class="col col-4">
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 700 - Rs 1000</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 1000 - Rs 1500</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 1500 - Rs 2000</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 2000 - Rs 2500</label>
							<label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>Rs 2500 - Rs 3000</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 3500 - Rs 4000</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 4000 - Rs 4500</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 4500 - Rs 5000</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 5000 - Rs 5500</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 5500 - Rs 6000</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 6000 - Rs 6500</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 6500 - Rs 7000</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 7000 - Rs 7500</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 7500 - Rs 8000</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 8000 - Rs 8500</label>
						</div>
					</div>
				</section>
				<section  class="sky-form">
					<h4>Brand Name</h4>
					<div class="row row1 scroll-pane">
						<div class="col col-4">
							<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>John Jacobs</label>
						</div>
						<div class="col col-4">
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Tag Heuer</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Lee Cooper</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Mikli</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>S Oliver</label>
							<label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>Hackett</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Killer</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>IDEE</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Vogue</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Gunnar</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Accu Reader</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>CAT</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Excellent</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Feelgood</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Odysey</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Animal</label>
						</div>
					</div>
				</section>
				<section  class="sky-form">
					<h4>Frame Shape</h4>
					<div class="row row1 scroll-pane">
						<div class="col col-4">
							<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Pilot</label>
						</div>
						<div class="col col-4">
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rectangle</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Square</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Round</label>
							<label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>Others</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Cat Eyes</label>
							<label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>Wrap Around</label>
						</div>
					</div>
				</section>
				<section  class="sky-form">
					<h4>Frame Size</h4>
					<div class="row row1 scroll-pane">
						<div class="col col-4">
							<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Small</label>
						</div>
						<div class="col col-4">
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Medium</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Large</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Medium</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Large</label>
						</div>
					</div>
				</section>
				<section  class="sky-form">
					<h4>Frame Type</h4>
					<div class="row row1 scroll-pane">
						<div class="col col-4">
							<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Full Rim</label>
						</div>
						<div class="col col-4">
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rim Less</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Half Rim</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rim Less</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Half Rim</label>
						</div>
					</div>
				</section>
				<section  class="sky-form">
					<h4>Colors</h4>
					<ul class="color-list">
						<li><a href="#"> <span class="color1"> </span><p class="red">Red</p></a></li>
						<li><a href="#"> <span class="color2"> </span><p class="red">Green</p></a></li>
						<li><a href="#"> <span class="color3"> </span><p class="red">Blue</p></a></li>
						<li><a href="#"> <span class="color4"> </span><p class="red">Yellow</p></a></li>
						<li><a href="#"> <span class="color5"> </span><p class="red">Violet</p></a></li>
						<li><a href="#"> <span class="color6"> </span><p class="red">Orange</p></a></li>
						<li><a href="#"> <span class="color7"> </span><p class="red">Gray</p></a></li>
					</ul>
				</section>
				<script src="js/jquery.easydropdown.js"></script>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>

{% endblock %}