{% load staticfiles %}
{% load static %}

<!DOCTYPE HTML>
<html>
<head>
<title>Кондиционеры</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/form.css' %}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>

<script src="{% static 'js/jquery1.min.js' %}"></script>

<!-- start menu -->
    <link href="{% static 'css/megamenu.css' %}" rel="stylesheet" />

<script src="{% static 'js/megamenu.js' %}"></script>

<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<!--start slider -->
    <link href="{% static 'css/fwslider.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/css3-mediaqueries.js' %}"></script>
    <script src="{% static 'js/fwslider.js' %}"></script>

<!--end slider -->
    <script src="{% static 'js/jquery.easydropdown.js' %}"></script>

</head>
<body>
<div class="header-top">
	<div class="wrap">
		<div class="cssmenu">
			<ul>
				<li class="active"><a href="/{{ home.url }}">О компании</a></li>
				|
				<li><a href="/usluga/{{ usluga.url }}">Услуги</a></li>
				|
				<li><a href="/dostiop/{{ dostiop.url }}">Доставка и оплата</a></li>
				|
				<li><a href="/garantija/{{ garantija.url }}">Гарантия</a></li>
				|
				<li><a href="/contact/{{ contact.url }}">Контакты</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
		{% block menu %}
		{% endblock %}

		{% block glavbody %}
		{%endblock%}


    <div class="footer">
		<div class="footer-top">
			<div class="wrap">
			  <div class="section group example">
				<div class="col_1_of_2 span_1_of_2">
					<ul class="f-list">
					  <li><img src="/static/images/2.png"><span class="f-text">бесплатная доставка при заказе от $ 100</span><div class="clear"></div></li>
					</ul>
				</div>
				<div class="col_1_of_2 span_1_of_2">
					<ul class="f-list">
					  <li><img src="/static/images/3.png"><span class="f-text">Телефон для связи -222-555-6666 </span><div class="clear"></div></li>
					</ul>
				</div>
				<div class="clear"></div>
		      </div>
			</div>
		</div>
        <div class="footer-middle">
			<div class="wrap">
			 <div class="section group example">
			  <div class="col_1_of_f_1 span_1_of_f_1">
				 <div class="section group example">
				   <div class="col_1_of_f_2 span_1_of_f_2">
				      <h3>Facebook</h3>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
						<div class="like_box">
							<div class="fb-like-box" data-href="http://www.facebook.com/w3layouts" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
						</div>
 				  </div>
				  <div class="col_1_of_f_2 span_1_of_f_2">
						<h3>From Twitter</h3>
				       <div class="recent-tweet">
							<div class="recent-tweet-icon">
								<span> </span>
							</div>
							<div class="recent-tweet-info">
								<p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
							</div>
							<div class="clear"> </div>
					   </div>
					   <div class="recent-tweet">
							<div class="recent-tweet-icon">
								<span> </span>
							</div>
							<div class="recent-tweet-info">
								<p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
							</div>
							<div class="clear"> </div>
					  </div>
				</div>
				<div class="clear"></div>
		      </div>
 			 </div>
			 <div class="col_1_of_f_1 span_1_of_f_1">
			   <div class="section group example">
				 <div class="col_1_of_f_2 span_1_of_f_2">
				    <h3>Информация</h3>
						<ul class="f-list1">
						    <li><a href="#">Duis autem vel eum iriure </a></li>
				            <li><a href="#">anteposuerit litterarum formas </a></li>
				            <li><a href="#">Tduis dolore te feugait nulla</a></li>
				             <li><a href="#">Duis autem vel eum iriure </a></li>
				            <li><a href="#">anteposuerit litterarum formas </a></li>
				            <li><a href="#">Tduis dolore te feugait nulla</a></li>
			         	</ul>
 				 </div>
				 <div class="col_1_of_f_2 span_1_of_f_2">
				   <h3>Наши контакты</h3>
						<div class="company_address">
					                <p>500 Lorem Ipsum Dolor Sit,</p>
							   		<p>22-56-2-9 Sit Amet, Lorem,</p>
							   		<p>USA</p>
					   		<p>Phone:(00) 222 666 444</p>
					   		<p>Fax: (000) 000 00 00 0</p>
					 	 	<p>Email: <span>mail[at]leoshop.com</span></p>
					   </div>
				</div>
				<div class="clear"></div>
		    </div>
		   </div>
		  <div class="clear"></div>
		    </div>
		</div>
		<div class="footer-bottom">
			<div class="wrap">
				<div class="copy">
			        <p>© 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
		        </div>
				<div class="f-list2">
				<ul>
					<li class="active"><a href="about.html">About Us</a></li> |
					<li><a href="delivery.html">Delivery & Returns</a></li> |
					<li><a href="delivery.html">Terms & Conditions</a></li> |
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
				</div>
				<div class="clear"></div>
		    </div>
		</div>
	</div>
</body>
</html>